html, body {
    width: 100%;
    height: 100%;
}

#chessBoard {
    border: 1px solid #333;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    background: url(https://icon-library.net/images/spinner-icon-gif/spinner-icon-gif-10.jpg);
    background-size: cover;
    background-position: center;
}

.boardSquare {
    user-select: none;
    float:left;
    font-size:4vw;
    display:flex;
    align-items:center; 
    justify-content:center; 
    width:12.5%;
    height:12.5%;
    cursor: pointer;
}

.boardSquareWhite {    
    background: #f0d9b5; 
    color: #f0d9b5;
}

.boardSquareBlack {    
    background: #b58863; 
    color: #b58863;
}

.piece {
    color: #000000;
}

.active {
    background: magenta;
}


/* 
.button{
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background: magenta;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    box-shadow: 0 0 10px #0005;
    font-family: sans-serif;
    outline: none;
}
.button i{
    margin: 0 10px 0 0;
}
.button_group{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
}
.button_group .item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.items{
    width: 320px;
    display: flex;
} */
