table {
  width: 100%;
  font-size: 14px;
}

table > tbody {
  text-align: center; 
  vertical-align: middle;
}

.welcome {
  font-size: 20px;
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.logout {
  position: absolute;
  top: 0px;
  right: 0px;
}

.welcome-child {
  width: 50%;
  float: left;
  vertical-align: middle;
}
