table {
  width: 100%;
}

table > tbody {
  text-align: center; 
  vertical-align: middle;
}

.welcome {
  font-size: 20px;
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.welcome-child {
  width: 50%;
  float: left;
  vertical-align: middle;
}
