.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loggeduser{
  text-align: center;
  background-color: yellow;
}

#game{
  height: 715px;
  width: 100%;
}

#gameboard{
  display: block;
  float: left;
  width: 68%;
  height: 732px;
  min-height: 100%;
}

#gamepanel{
  padding: 10px;
  display: block;
  width: 30%;
  height: 715px;
  min-height: 100%;
  float: right;
  background-color: #99ccee;
  border: 1px solid red;
}

#frame{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 1px solid grey;
}

.bold{
  font-weight: bold;
}

.upline{
  border-top: 1px solid grey;
}