

.mainwindow {
    margin: auto;
}
.gameboard {
    width: 650px; /*50%; */
    float: left;
    height: 650px; /* 50%; */
}

.matchinfo {
    width: 200px; /* 50%; */
    float: left;
    margin-left: 20px;
    height: 100%;
}