

.mainwindow {
    margin: auto;
}
.gameboard {
  margin: 20px;
    width: 650px; /*50%; */
    height: 650px; /* 50%; */
    float: left;
}

.matchinfo {
  font-size: 20px;
  margin: 20px;
  text-align: center;
  float: left;
    height: 100%;
}

.mathchinfo > button {
  padding: 130px 230px;
}
